/* styles/home.css */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
  text-align: center;
}

.home-container h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #2c3e50;
}

.home-container p {
  font-size: 20px;
  margin-bottom: 40px;
  color: #34495e;
}

.home-container .btn {
  background-color: #18bc9c;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.home-container .btn:hover {
  background-color: #16a085;
}

