/* styles/navbar.css */
nav {
  background-color: #2c3e50;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a,
nav ul li button {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

nav ul li a:hover,
nav ul li button:hover {
  color: #18bc9c;
}

nav ul li button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

